.sidebar {
    min-width: 6rem;
    height: 100vh;
    background-color: #4E71D0;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 48px;
    }

    .logout {
        background-color: white;
        border-radius: 10px;
        padding:1rem;
        svg {
            fill:#4E71D0;
        }
    }

    nav {
        height:100%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        margin: 32px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding:16px;

        svg {
            fill:white;
            opacity:0.5;
        }
    }

    .active {
        color: white; /* Active link text color */
        border-bottom: 3px solid white;

        svg {
            fill: white;
            opacity:1;
        }
    }

    a {
        text-decoration: none;
        color: inherit; /* Ensures the link inherits the color of the list item */
    }
}
